.ui .form {
    padding: 25px 75px;
}

.ui.segment {
    background-color: #efefef;
}
 .title {
    text-align: center;
}

.ui.form .field>label {
    font-size: 24px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

i {
    padding: 0px 10px;
    color: red;
}

.ui.form input[type=text] {
    border-color: darkgray;
}
.ui.form input[type=text]:active, .ui.form input[type=text]:focus {
    border-color: red;
}